.coin-container {
    display: flex;
    justify-content: center;
    font-size: 100%;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-items:flex-start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 100%;
    margin-left: 5%;
}

.coin {
    display: flex;
    align-items: center;
    padding-right: 5%;
    margin-left: 5%;
    min-width: 40%;
}

.coin h1 {
    font-size: 100%;
    width: 50%;
}

.coin img{
    height: 10%;
    width: 10%;
    margin-right: 5%;
}

.coin-symbol {
    text-transform: uppercase;
    margin-right: 10%;
    margin-left: 5%;
}

.coin-data {
    display: flex;
    text-align: center;
    width: 90%;
    margin-right: 5%;
}

.coin-volume {
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}

.coin-marketcap {
    width: 30%;
    margin-right: 5%;
    margin-left: 5%;
}

.coin-percent{
    width: 10%;
    margin-right: 5%;
    margin-left: 5%;
}

.red{
    color: #f00606;
}

.green{
    color:green;
}